<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>125711628226-c32q25iepsi7tcvparjmel0ecq8kggns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125711628226-c32q25iepsi7tcvparjmel0ecq8kggns</string>
	<key>API_KEY</key>
	<string>AIzaSyBraQ4SLMmSID2_qJ-R30Hk4RRJpwlhGcE</string>
	<key>GCM_SENDER_ID</key>
	<string>125711628226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrgott.SocialLoginFirebase</string>
	<key>PROJECT_ID</key>
	<string>sociallogin-ecadd</string>
	<key>STORAGE_BUCKET</key>
	<string>sociallogin-ecadd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:125711628226:ios:c4d58eaaaef70d63</string>
	<key>DATABASE_URL</key>
	<string>https://sociallogin-ecadd.firebaseio.com</string>
</dict>
</plist>